<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sandwich Maker</title>
</head>
<body>
<h3>Add a Sandwich</h3>
<hr/>
{%- for category, message in get_flashed_messages(with_categories = true) %}
<div class="alert alert-danger">
    {{ message }}
</div>
{%- endfor %}
<h3><a href="{{ url_for('sandwich') }}">Sandiwch List </a></h3>

<form method="POST" action="{{ request.path }}">
    <label for="sandwich_size">Sandwich_size</label><br>
    <input type="text" name="sandwich_size" placeholder="Sandwich_size"/><br>
    <label for="email">price</label><br>
    <input type="number" name="price" placeholder="Price"/><br>
    <input type="submit" value="Add">
</form>
</body>
</html>